body {
	font-family: 'Nosifer', cursive;
	background: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0,.7)), url(http://wallpapercave.com/wp/2Rqnmvp.jpg) no-repeat center/cover fixed
}

.game-board .square {
	border: 1px solid #bb0a1e;
	height: 15rem;
}

.game-board {
  font-size: 10.5rem;
  text-align: center;
  color: #bb0a1e;
  background-color: rgba(0,0,0, .8)
}

.currentTurn {
	font-size: 30px;
	color: #bb0a1e;
}

#currentTable {
	color: #bb0a1e;
	text-align: center;
	letter-spacing: 7px;
}

.table-row {
	margin-bottom: 5%;
	margin-top: 5%;
}

.seat-row {
	margin-top: 5%;
}

.navbar {
	font-size: 40px;
	color: #bb0a1e;
	text-align: center;
}

.choose {
	font-size: 30px;
	color: #bb0a1e;
	text-align: center;
}

.win-board {
  font-size: 10.5rem;
  text-align: center;
  color: #bb0a1e;
  background-color: rgba(0,0,0, .8)
}

.win-spot {
	font-size: 10.5rem;
  text-align: center;
  color: #bb0a1e;
}

.chair {
  max-width: 2em;
}

.flash-button{
  /*background:blue;*/
  /*padding:5px 10px;*/
  color: #bb0a1e;
  border:none;
  border-radius:5px;

  animation-name: flash;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  //Firefox 1+
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  //Safari 3-4
  -moz-animation-name: flash;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

@keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

//Firefox 1+
@-webkit-keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

//Safari 3-4
@-moz-keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
